function :
  _target_  : rnn.discrete_to_continuous
  discrete_dynamics :
    _target_  : rnn.get_autonomous_dynamics_from_model
    model     : ${...loaded_RNN_model_cuda}
    rnn_submodule_name: null
    kwargs    :
      deterministic : true
      batch_first   : false
    output_id : 1
  delta_t  : 1.0 #0.1 #5.0 #0.1 #5.0 #10.0 #0.1 #1.0

run_traj : true


IC_distribution_task_relevant:
  _target_  : rnn.hidden_distribution_from_model
  model     : ${..loaded_RNN_model}
  dataset   : ${..RNN_dataset}
  alpha     : 1e-2

IC_distribution_full:
  _target_  : custom_distributions.makeIIDMultiVariate
  dist  :
    _target_  : torch.distributions.Normal
    loc       : 0
    scale     : 4
  dim : ${..dim}


IC_distribution:
  _target_  : custom_distributions.MixtureDistribution
  distributions :
    - ${...IC_distribution_full}
    - ${...IC_distribution_task_relevant}
#IC_distribution : ${.IC_distribution_task_relevant}

#external_input_distribution:
#  _target_  : custom_distributions.makeIIDMultiVariate
#  dist  :
#    _target_: torch.distributions.Uniform
#    low     : 0
#    high    : 1
#  dim : ${..external_input_dim}
external_input_distribution:
  _target_  : custom_distributions.ConcatIIDDistribution
  dists     :
    - _target_: torch.distributions.Uniform
      low     : 0
      high    : 0.01
    - _target_: torch.distributions.Uniform
      low     : 0
      high    : 0.01
    - _target_: torch.distributions.Uniform
      low     : 0 #.6 #0
      high    : 1

combined_distribution:
  _target_  : custom_distributions.ConcatIIDDistribution
  dists     :
    - ${...IC_distribution}
    - ${...external_input_distribution}

dist_requires_dim : false

loaded_RNN_model:
  _target_    : finkelstein_fontolan_RNN.init_network
  params_dict :
    _target_  : load_RNN_ALM_gating.get_params_dict
    input_file_path : ${savepath}/input_data/

loaded_RNN_model_cuda:
  _target_    : finkelstein_fontolan_RNN.init_network
  params_dict :
    _target_  : load_RNN_ALM_gating.get_params_dict
    input_file_path : ${savepath}/input_data/
  device  : ${separatrix_locator.device}

loaded_RNN_model_partial:
  _target_    : finkelstein_fontolan_RNN.init_network
  _partial_   : true
  params_dict :
    _target_  : load_RNN_ALM_gating.get_params_dict
    input_file_path : ${savepath}/input_data/
  device  : ${separatrix_locator.device}

RNN_model:
  act_size  : 3
  num_h     : ${..dim}


perturbable_RNN_model:
  _target_  : finkelstein_fontolan_RNN.convert_to_perturbable_RNNModel
  old_model : ${..loaded_RNN_model}

dim  : 668
external_input_dim  : 3

RNN_criterion :
  _target_  : torch.nn.MSELoss

RNN_dataset:
  _target_        : finkelstein_fontolan_task.initialize_task
  input_file_path : ${savepath}/input_data/
  N_trials_cd     : 10

RNN_analysis_dataset : ${.RNN_dataset}

name  : finkelstein_fontolan_RNN