function :
  _target_  : rnn.discrete_to_continuous
  discrete_dynamics :
    _target_ : rnn.get_autonomous_dynamics_from_model
    model    : ${...loaded_RNN_model}
    rnn_submodule_name: null
    kwargs:
      deterministic : true
      batch_first   : false

run_traj : true

IC_distribution :
#  _target_  : rnn.hidden_distribution_from_model
#  model     : ${..loaded_RNN_model}
#  dataset   : ${..RNN_dataset}
  _target_  : torch.distributions.MultivariateNormal
  loc  :
    _target_ : torch.zeros
    size     : ${eval:'(${...dim},)'}
  covariance_matrix:
    _target_  : torch.eye
    n  : ${...dim}
dist_requires_dim : false

loaded_RNN_model:
  _target_    : finkelstein_fontolan_RNN.init_network
  params_dict :
    _target_  : load_RNN_ALM_gating.get_params_dict
    input_file_path : ${savepath}/input_data/



RNN_model:
  act_size  : 3
  num_h     : ${..dim}


perturbable_RNN_model:
  _target_  : rnn.convert_to_perturbableRNN
  old_model : ${..loaded_RNN_model}

dim  : 668

RNN_criterion :
  _target_  : torch.nn.MSELoss

RNN_dataset:
  _target_        : finkelstein_fontolan_task.initialize_task
  input_file_path : ${savepath}/input_data/
  N_trials_cd     : 10

RNN_analysis_dataset : ${.RNN_dataset}

name  : finkelstein_fontolan_RNN